APP_DOMAIN=dev.augmego.ca
POSTGRES_DB=mobile_multiplayer
POSTGRES_USER=game
POSTGRES_PASSWORD=game_dev_password
TURN_REALM=dev.augmego.ca
TURN_STATIC_AUTH_SECRET=change_me
TURN_MIN_PORT=49160
TURN_MAX_PORT=49200
# Optional on droplets/NAT hosts when coturn cannot infer its public address:
# TURN_EXTERNAL_IP=
